//font-family
$headline-text: 'Raleway',
sans-serif;

$body-text: 'Open Sans',
sans-serif;



//font-weight
$headline-regular: 400;
$headline-bold: 600;
$headline-black: 700;

$body-regular: 400;
$body-semi-bold: 600;
$body-bold: 800;