body {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

.txt-top {
  display: flex;
  justify-content: center;
  p {
    margin: 2em;
    font-size: 0.7em;

    &::before {
      content: "";
      display: inline-block;
      margin-top: 0.1em;
      margin-right: 0.7em;
      width: 12px;
      height: 12px;
      background-image: url(img/checkmark-purple.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.hide {
  display: none;
}

.images img {
  width: 100vw;
}

.order {
  display: grid;
  justify-items: center;
  max-width: 500px;
  margin: 0 auto;

  a {
    font-family: $body-text;
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
  }

  .link-order {
    background: $primary;
    height: 50px;
    width: 80%;
    color: $white;
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
    display: grid;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
  }
  p {
    font-family: $body-text;
  }

  .ranking {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
    margin: 10px 0px 20px 40px;

    img {
      width: 80%;
    }

    p {
      font-size: 0.7em;
      margin-right: 40px;
    }
  }

  .btn-see-more {
    background: $primary;
    height: 25px;
    width: 10em;
    color: $white;
    justify-self: right;
    margin: 0px 30px 10px 0px;
    font-size: 0.9em;
    border-radius: 5px;
    cursor: pointer;
  }

  .porto {
    justify-self: left;
    font-size: 0.7em;
    margin: 10px 0px 15px 35px;
    span {
      display: flex;
    }
  }

  .txt-order {
    justify-self: left;
    margin: 20px 0px 0px 35px;
    .price {
      font-size: 2em;
      margin-bottom: -10px;
    }
    .saving {
      color: $red;
    }
  }
}

ul {
  line-height: 1.7;
  margin-right: 10px;
  position: relative;
  li {
    list-style-type: none;
    font-family: $body-text;

    &::before {
      content: "";
      position: absolute;
      left: 1em;
      margin-top: 7px;
      width: 12px;
      height: 12px;
      background-image: url(img/checkmark-pink.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#carousel-txt {
  margin-top: 2em;
  display: grid;
  justify-items: center;
  h1 {
    text-align: center;
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.3em;
    margin-top: 1em;
  }

  img {
    max-width: 500px;
    min-width: 300px;
  }
}
