$shadow-color: #000000;

h2 {
  text-align: center;
}

header {
  width: 100%;
  height: 60px;
  background-color: $primary;
}
.image {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.sizes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  grid-column-gap: 40px;
  margin: 40px 130px 0 120px;
}

.sizes label {
  width: 110px;
  height: 60px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid rgb(196, 195, 195);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sizes label:hover {
  //   box-shadow: (0 3px 3px 0 rgba($shadow-color, 0.16), 0 3px 3px 0 rgba($shadow-color, 0.23));
}

.sizes input {
  position: absolute;
  right: 100vw;
}

.sizes input:checked + label {
  border-color: $primary;
}

.next_btn button {
  width: 265px;
  height: 60px;
  margin: 30px 100px 0 120px;
  font-size: 1.3em;
  border-radius: 3px;
  background-color: $primary;
  color: white;
}

.next_btn button:hover {
  box-shadow: (0 3px 3px 0 rgba($shadow-color, 0.16), 0 3px 3px 0 rgba($shadow-color, 0.23));
}

.back p {
  text-align: center;
  color: $primary;
}

.back p:hover {
  text-align: center;
  color: black;
}
